$link-color : red;
$price-color : red;
$border-color : #f5f5f5;
$font-color: #000;
$break-small : 430px;
$break-large : 1200px;
$slotsColor : blue;
$slotsColorHover : #f5f5f5;

* {
	font-family: Arial;
	font-size: 1em
}
p {
	margin:0
}


div.clear {
	clear:both;
}

hr {
	border:#f5f5f5 solid thin;
}

.widget, .open--complete .widget__box {
	overflow: hidden;
	border:thin solid  $border-color;
}

.widget__box {
	padding:1em;
}

.widget__box {
	img.logo {
		float: right;
		margin-bottom: 10px;
	}
	p.title {
		margin-top:60px;
		margin-bottom:0.5em;
	}
	.row {
		.box {
			img {
				float:left;
			}
		}
		ul.services {
			@media screen and (max-width: $break-small) {
				margin-left: -1.5em;
			}
			li {
				list-style-image: url("../images/sqpurple.png");
				@media screen and (max-width: $break-small) {
					float: left;
				}
			}
		}
		img.image-thumb {
			float: left;
			margin-right: 30px;
			@media screen and (max-width: $break-small) {
				width: 100%;
				margin-bottom:0.5em;
			}
		}
	}
	.parking_row {
		width:100%;
		float: left;
		margin-top: 1em;
		a:link.parkingSlots {
			float: left;
			padding: 1em;
			text-align: center;
			border: thin solid $border-color;
			background-color : $slotsColor;
			text-decoration:none;
			@media screen and (max-width: $break-small) {
				padding: 1em 0 1em 0;
				width: 100%;
				color:#fff;
			}
			p {
				color:#fff;
			}
			span.price {
				color: $price-color;
				font-weight:bold;
			}
		}
		a:hover.parkingSlots  {
			background-color : $slotsColorHover;
		}
		a:hover.parkingSlots p  {
			color : $font-color;
		}
	}
	.row__footer {
		min-height:2em;
	}
}

.closed {
	height: 15%;
	.row, hr {
		display:none;
	}
	.parking_row {
		display:none;
	}
}

.open {
	.row, hr {
		display:block;
	}
	.parking_row {
		display:block;
	}
}

.open--complete, .close--complete .widget {
	height:auto;
	border:none;
	.parking_row {
		display:block;
	}
}

.close--complete {
	height:15%;
	border:thin solid  $border-color;
	.row, hr {
		display:none;
	}
	.parking_row {
		display:none;
	}
}

a.close {
	float:right;
	color: $link-color;
	text-decoration:none;
}

.fade-in {
	opacity: 0;
	animation: fadeIn .5s ease-in 1 forwards;
}
